[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Alexey Romanchenko (alex8495)
[access "refs/for/refs/*"]
	read = group user/Alexey Romanchenko (alex8495)
	push = group user/Alexey Romanchenko (alex8495)
	label-Code-Review = -2..+2 group user/Alexey Romanchenko (alex8495)
	label-Verified = -1..+1 group user/Alexey Romanchenko (alex8495)
	rebase = group user/Alexey Romanchenko (alex8495)
	removeReviewer = group user/Alexey Romanchenko (alex8495)
	submit = group user/Alexey Romanchenko (alex8495)
[access "refs/heads/*"]
	read = group user/Alexey Romanchenko (alex8495)
	create = group user/Alexey Romanchenko (alex8495)
	push = +force group user/Alexey Romanchenko (alex8495)
	pushMerge = group user/Alexey Romanchenko (alex8495)
[access "refs/tags/*"]
	push = group user/Alexey Romanchenko (alex8495)
	push = +force group user/Alexey Romanchenko (alex8495)
